@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<address>
    SALON STILVOLL<br />
    Cosmetics :: Wellness :: Fryzjer<br />

    Właściciel: Agnieszka Behner<br />
    Könneritzstraße 23<br />
    04229 Lipsk<br />

    Telefon: 0341-6 79 59 06
    Telefon komórkowy: 0177-2 88 90 23
    Faks: 0341-6 79 26 80

    <strong>Support:</strong><a href="mail@salon-stilvoll-leipzig.de">mail@salon-stilvoll-leipzig.de</a><br />
     URL: www.salon-stilvoll-leipzig.de
</address>

    @*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>*@

    @*<address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@
