@{
    ViewData["Title"] = Model.Tytul;
}

@model Firma.Data.Data.CMS.Strona

<div>
    @Model.Tresc
</div>

<div>
    @Model.Tresc
</div>

<div>
    Data i godzina wejscia: @DateTime.Now.ToString()
</div>
