@model Firma.Data.Data.CMS.Aktualnosc
@{
    ViewData["Title"] = @Model.Tytul;
}

    <div>Aktualność</div>
    <div>Tytuł aktualności: @Model.Tytul </div>
    @Model.Tresc
    <br />
    Data i godzina edycji: @DateTime.Now.ToString()


